	body {margin:0;}
	
	html,
	body {
	background-color: black;	
	}
	
	H2 {
	display: inline-block;
	color: #FFD700;
	margin-top:15px;
	padding-top:0;
	}

	h2.first {
	display: inline-block;
	color: #9F8170;
	margin-top:0;
	padding-top:15px;
	padding-left: 500px;
	padding-right: 10px;
	}

	.jumboT {
	padding-top:150px;
	text-align: center;
	}

	.jumboT h4{
		color: white;
		font-size:30px;
		margin-bottom:0px;
	}

	.jumboT h2{
		margin:0;
		padding:0;
		color: #9F8170;
		font-size:80px;
	}

	.jumboT h1{
		margin:0;
		padding:0;
		color: white;
		font-size:60px;
	}

	.jumboT h5{
		color: white;
		padding-top:20px;
		font-size:20px;
	}
	
	.jumboT h6{
		margin:0;
		padding:0;
		color: #32CD32;
		font-size:80px;
	}

	.jumboT table{
		margin-left:380px;
		border-collapse: collapse;
	}

	.jumboT td{
		padding-top:30px;
	}
	
	.aboutUs{
		padding:0px 400px;
		background-color: #7B3F00;	
	}
	
	.aboutUs h1{
		margin-bottom:100px;
		padding:0;
		color: white;
		font-size:80px;
	}
	
	.aboutUs p{
		color: white;
		font-size:40px;
	}

	.apPreview{
	padding-right:0px;
}
		
	/*----- Tabs -----*/
	.tabs {
    width:100%;
    display:inline-block;
	background:orange;
	}
	
	.tabs ul {
	margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
	}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 0px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            display: inline-block;
			color: black;
			text-align: center;
			padding: 20px 50px;
			font-size:20px;
			text-decoration: none;
		}
		
        .tab-links a:hover {
            background: gray;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background: #1B1B1B;
        color:orange;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background: black;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
